@model WebApp1.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@Html.Partial("DetailsProfile")

@using (Html.BeginForm("Delete", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Confirm Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

